[Unit]
Description=Defragment file data on a mounted filesystem
Documentation=man:btrfs-filesystem
After=fstrim.service btrfs-trim.service btrfs-scrub.service

[Service]
Type=simple
SyslogIdentifier=btrfs-defrag.sh
ExecStart=/usr/bin/flock /run/btrfs-maintenance-running /usr/share/btrfsmaintenance/btrfs-defrag.sh
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
